.scroll {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.place {
  flex: 1;
  min-width: 0;
}

.content {
  white-space: nowrap;
}

.box {
  width: 100%;
  white-space: nowrap;
  display: flex;
}

.aniBox {
  animation-name: roll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes roll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
