# 如果启用此选项，本地可用的包将链接到node_modules，而不是从注册表下载。这在monorepo中非常方便。
link-workspace-packages = true
# # 如果启用此选项，则工作区中的本地包优先于注册表中的包，即使注册表中有更新版本的包也是如此
# prefer-workspace-packages = true
# # 如果启用此选项，pnpm install的主要行为将变成pnpm install -r的行为，这意味着安装将在所有工作区或子目录包中执行。
# recursive-install = true